body{
    background-color: bisque;
    font-size: 30px;
}
.playfair-display-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  h1,h2,h3 {
    font-size: 25px;
    text-align: center;
  }
.header-section{
    display:grid;
grid-template-columns: auto;
padding: 10px;
background-color: aqua;

}
.main-section{
display: grid;
grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  grid-auto-rows: fit-content;
  
  padding: 10px 0;
}
.login-form-wrap{
    background-color: pink;
    padding: 10px;
}
.clock-wrap{
    background-color: aquamarine;
    padding: 10px;
}
.registration-form-wrap{
    display:grid;
grid-template-columns: auto;
padding: 10px;
background-color: aliceblue;

/* grid-auto-rows: 40px; */
padding: 10px;
font-size: 18px;
}
.list-visitors-wrap{
    display:grid;
    grid-template-columns: auto;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    font-size: 14px;
    grid-auto-rows: fit-content;
    
}
.total-output{
    max-width: 200px;
    background-color: yellow;
    border: 1px solid black;
}
.footer-section{
    display:grid;
    grid-template-columns: auto;
    padding: 10px;
    background-color: aqua;
    font-size: 14px;
    
}